{% extends "podcast/base.html" %}
{% load static i18n %}
{% block title %}About | Fat Tony's{% endblock %}
{% block description %}Fat Tony's is a podcast designed to help you navigate modernity. Influenced by the works of Nassim Taleb, amongst others. Hosted by Sebastian David Lees{% endblock %}
{% block image %}{% static 'podcast/img/about.png' %}{% endblock image %}

{% block navbar %}
  {% include 'podcast/navbar.html' %}
{% endblock %}

{% block content %}
<div class="episode-banner podcast-bkg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <h2 class="mt-3 medium-header nunito white mt-5 pt-4">
            <i>"Fat Tony's Bar is like an 18th Century 'salon' it seems to me. People gathering for entertainment and discussion about topics to educate each other. The art of discussion is lost on Twitter or Facebook."</i>
          </h2>
          <h4 class="mt-4 mb-3 nunito small-header white">
            <b>- Jaffer Ali</b>
          </h4>
        </div>
      </div>
      <div class="col-md-6 text-center" style="display: flex; justify-content: center;">
        <img src="{% static 'podcast/img/jaffer-ali.png' %}" width="75%" style="align-self: flex-end;"/>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container mt-5">
    <h1 class="tilt-neon header white mb-5">Welcome 👋</h1>
    <h4 class="tilt-neon white mb-5">We're glad you made it here. Grab a beer 🍺, have a look around, and get acquainted.</h4>
  </div>
  <div class="container mt-5">
    <h1 class="tilt-neon header white mb-5">What is Fat Tony's?</h1>
    <h5 class="nunito small-header white mb-3">
      Fat Tonys is a podcast & community designed to help people navigate modernity - inspired by the works of Nassim Taleb.
      People in the Fat Tony's community use his (and other related ideas) to build an anti-fragile life. This is about practical application, NOT theory.
    </h5>
    <h5 class="nunito small-header white mb-3">
      The podcast focuses on (but is not limited to) tawking to REAL LIFE experts. Expect conversation around Anti-fragility, Convexity, Non linearity, Deadlifts, Fasting, Flaneuring, Cooking, Poetry, Risk, Movies, Music, and acquiring freedom / f*ck you money.
      Above all else, Fat Tony's is a decentralised community. Being a fan of Nassim Taleb acts as a filter, and gives us a great group of people willing to share knowledge, tawk, and help improve each other's lives. We've had Fat Tony's members who have written books,
      started companies, collaborated on design projects, and established long lasting real world friendships.
    </h5>
    <h5 class="nunito small-header white mb-3">
      We share ideas, resources, and support for navigating modernity on this website, <a href="https://twitter.com/FatTonysPodcast" class="p-link">Twitter</a>, through our Podcast and our <a href="https://youtube.com/@FatTonys" class="p-link">Youtube</a> Channel.
      We will host semi-regular (SPONTANEOUS) events, tawks, and book clubs. Follow us on <a href="https://twitter.com/FatTonysPodcast" class="p-link">Twitter</a> for more details.
    </h5>
  </div>
  <div class="container mt-5">
    <h1 class="tilt-neon header white mb-5">History</h1>
    <h5 class="nunito small-header white mb-3">
      Fat Tony's started on US election night 2020, when <a href="https://twitter.com/sebs_tweets" class="p-link">Sebastian</a> sent out a tweet to see if anyone in the Taleb-sphere wanted to have an online call / beers to watch the results. A handful of people responded, and a Discord server was set up.
    </h5>
    <h5 class="nunito small-header white mb-3">
      The Discord server lasted beyond election night, and quickly grew. Shortly after, we started hosting weekly 'Happy Hours' - beers and conversation, partly as an escape from the COVID lockdowns that gripped the world throughout 2020. The Happy Hours were unscripted, crazy, intriguing, and always fun!
    </h5>
    <h5 class="nunito small-header white mb-3">
      By now the community had a name.. Fat Tony's! A virtual space where people could hang out and socialise, support each other, and share knowledge. It continued to grow, resulting in a Twitter account, Youtube Channel (for recorded events and videos), and this webpage. We've also had members host book clubs and live Q&As from fascinating people.
    </h5>
  </div>
  <div class="container mt-5">
    <h1 class="tilt-neon header white mb-5">What's next?</h1>
    <h5 class="nunito small-header white mb-3">
      The latest incarnation of Fat Tony's is the podcast. There is no future master plan for Fat Tony's - it continues to evolve organically and moves in different directions, across multiple platforms, as decentralised as possible. We're excited about what it grows into.
    </h5>
  </div>
  <div class="container mt-5">
    <h1 class="tilt-neon header white mb-5">Funding</h1>
    <h5 class="nunito small-header white mb-3">
      As an Amazon Associate, we earn from qualifying purchases.
    </h5>
  </div>
</div>

{% include "podcast/newsletter.html" %}
{% endblock %}

