{% extends "podcast/base.html" %}
{% load static i18n %}
{% block title %}{% if filter != 'All' %}{{ filter }} | {% endif %} Antilibrary | Fat Tony's{% endblock %}
{% block description %}Fat Tony's Antilibrary. All the books you need to help navigate modernity. Books on risk, probability, behaioural science, trading, and more...{% endblock %}
{% block image %}{% static 'podcast/img/antilibrary.png' %}{% endblock image %}

{% block navbar %}
  {% include 'podcast/navbar.html' %}
{% endblock %}

{% block content %}
  {% include 'podcast/snippet_antilibrary.html' %}
  {% include "podcast/newsletter.html" %}
  {% include "podcast/popup-antilibrary.html" %}
{% endblock %}

