{% load static i18n %}
<!-- Newsletter -->
<svg width="100%" height="50" viewBox="0 0 500 80" preserveAspectRatio="none" class="mt-5 bkg-gloss-black">
  <path d="M0,0 L0,40 Q250,80 500,40 L500,0 Z" fill="#1f2833"/>
</svg>
<section id="newsletter">
  <div class="p-5 bkg-gloss-black">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
        <div class="row">
          <h1 class="tilt-neon white">NEWSLETTER 🎉</h1>
        </div>
          <div class="row">
            <h5 class="white py-3 nunito small-header">Get notified when new episodes drop, plus access to exclusive Fat Tony's news, events, and meet ups 💪.</h5>
        </div>
        </div>
          <div class="col-md-6">
            <form class="form-horizontal" id="newsletterForm" onsubmit="emailForm(); return false">
              <fieldset>
                <div class="form-group mt-3">
                  <div class="input-group">
                    <input name="email" id="email" placeholder="Email" class="form-control py-3" type="email" required>
                  </div>
                </div>
              </fieldset>
              <button type="button" onclick="sendNewsletterForm()" class="btn mt-4 py-3 btn-lg btn-purple w-100">Sign Up!</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</section>
<svg width="100%" height="50" viewBox="0 0 500 80" preserveAspectRatio="none" class="mb-5 bkg-light-black">
  <path d="M0,0 L0,40 Q250,80 500,40 L500,0 Z" fill="#070707"/>
</svg>

<div class="modal fade" id="newsletterModal" name="newsletterModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content mt-5">
      <div class="modal-header text-center">
        <h3 class="modal-title lato w-100"><b>Thanks 💪</b></h3>
      </div>
      <div class="modal-body lato text-center">
        <h5>
          You're all signed up, and will recieve the next newsletter.
        </h5>
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-purple w-100 p-3" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>