<div id="quotes-container">
  <div class="episode-banner podcast-bkg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="float-start col-md-6">
            <h1 class="my-3 tilt-neon white" id="quote-header">
              Quotes | {{ filter }}
            </h1>            
          </div>
          <div class="btn-group d-none d-md-block float-end col-md-2">
            <button type="button" class="btn btn-light-black btn-xl dropdown-toggle p-3 w-100" style="margin-top:12px;" data-bs-toggle="dropdown" aria-expanded="false">
              {{ filter }}
            </button>
            <ul class="dropdown-menu w-100">
              <li><a class="dropdown-item" onclick="updateQuoteHeader('All')" hx-get="{% url 'podcast:quotes' %}" hx-target="#quotes-container" hx-push-url="true" hx-swap="innerHTML">All</a></li>
              {% for person in people %}
                <li>
                  <a class="dropdown-item" onclick="updateQuoteHeader('{{ person.name }}')" hx-get="{% url 'podcast:quotes' %}{{ person.slug }}" hx-target="#quotes-container" hx-push-url="true" hx-swap="innerHTML">{{ person.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>    
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="d-block mb-1 mt-1">
        <div class="btn-group w-100 d-md-none">
          <button type="button" class="btn btn-purple btn-xl dropdown-toggle p-3 mb-4 w-100" data-bs-toggle="dropdown" aria-expanded="false">
            {{ filter }}
          </button>
          <ul class="dropdown-menu w-100">
            <li><a class="dropdown-item" onclick="updateQuoteHeader('All')" hx-get="{% url 'podcast:quotes' %}" hx-target="#quotes-container" hx-push-url="true" hx-swap="innerHTML">All</a></li>
            {% for person in people %}
              <li>
                <a class="dropdown-item" onclick="updateQuoteHeader('{{ person.name }}')" hx-get="{% url 'podcast:quotes' %}{{ person.slug }}" hx-target="#quotes-container" hx-push-url="true" hx-swap="innerHTML">{{ person.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-lg-12" style="min-height: 750px;">
        <div class="row">
          {% for quote in quotes %}
          <div class="col-lg-4 quote-card p-5 mb-2" style="border: 5px solid #1f2833;">
            <h4 class="white mb-4 nunito small-header">"{{ quote.quote }}"</h4>
            <h6 class="white">- {{ quote.person.name }}</h6>
          </div>
          {% endfor %}
        </div>
        <div class="row mt-3">
          {% if quotes.has_other_pages %}
          <ul class="pagination justify-content-center">
            {% if quotes.has_previous %}
              <li class="mb-3">
                <a href="#top" hx-get="?page={{ quotes.previous_page_number }}" hx-target="#quotes-container" class="btn btn-purple btn-120 p-3 me-2" hx-push-url="true" hx-swap="outerHTML">&laquo; Previous</a>
              </li>
            {% endif %}
            {% if quotes.has_next %}
              <li class="mb-3">
                <a href="#top" hx-get="?page={{ quotes.next_page_number }}" hx-target="#quotes-container" class="btn btn-purple btn-120 p-3 me-2" hx-push-url="true" hx-swap="outerHTML">Next &raquo;</a>
              </li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
