{% extends "podcast/base.html" %}
{% load static i18n %}
{% block title %}Videos | Fat Tony's{% endblock %}
{% block description %}Videos from the Fat Tony's community. Lekchurs, Live Q&As, Flanuering, and more...{% endblock %}
{% block image %}{% static 'podcast/img/videos.png' %}{% endblock image %}

{% block navbar %}
  {% include 'podcast/navbar.html' %}
{% endblock %}

{% block content %}
<div class="episode-banner podcast-bkg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div>
          <h1 class="my-3 mx-2 tilt-neon white">
            Videos
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container-fluid my-5">
    <div class="row">
      {% if not videos %}
      <h5 class="white tile-neon">No videos yet. Check back soon!</h5>
      {% endif %}
      {% for video in videos %}
        <div class="col-md-3 mb-3">
          <a href="{{ video.url}}">
            <div class="card video-card h-100">
              <div class="card-body p-0">
                <div class="row">
                  <img src="{{ video.thumbnail }}" width="100%" alt="{{ video.title }}"/>
                </div>
                <div class="row">
                  <div class="px-4">
                    <h5 class="font-black lato mt-3 mb-3 p-3">{{ video.title }}</h5>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% include "podcast/newsletter.html" %}
{% endblock %}