<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title>{% block title %}{% endblock title %}</title>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Fat Tony's">
    <meta name="keywords" content="Fat Tony, Fat Tony's, Antifragile, Nassim Taleb, Podcast, Sebastian Lees">
    <meta name="description" content="{% block description %}{% endblock description %}">

    <!-- OpenGraph Card -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ self.title() }}">
    <meta property="og:image" content="/theme/img/social-link.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="{{ self.description() }}">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="fattonys.net">
    <meta name="twitter:site" content="@FatTonysPodcast">
    <meta name="twitter:creator" content="@FatTonysPodcast">
    <meta name="twitter:title" content="{{ self.title() }}">
    <meta name="twitter:description" content="{{ self.description() }}">
    <meta name="twitter:image" content="/theme/img/social-link.png">

    <!-- Bootstrap & CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/theme/css/styles.css">

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script defer src="/theme/js/aws-sdk.min.js" defer></script>
    <script defer src="/theme/js/project.js" defer></script>

    <!-- Favicons -->
    <link rel="icon" href="/theme/img/favicon.ico">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tilt Neon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T39DJ316DC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-T39DJ316DC');
    </script>
  </head>

  <body id="index">
      <!-- header -->
      <div style="margin-bottom: 85px;">
        <nav class="navbar navbar-expand-lg ms-auto navbar-dark fixed-top">
          <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" aria-label="Fat Tony's">
              <img class="navbar-logo" src="/theme/img/logo-flickering.gif" alt="Fat Tony's logo"/>
            </a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item me-2 mt-1">
                  <a class="nav-link nunito" id="home-link" href="/">Home</a>
                </li>
                <li class="nav-item me-2 mt-1">
                  <a class="nav-link nunito" id="podcast-link" href="/podcast">Podcast</a>
                </li>
                <li class="nav-item me-2 mt-1">
                  <a class="nav-link nunito" id="videos-link" href="/talks">Talks</a>
                </li>
                <li class="nav-item me-3 mt-1">
                  <a class="nav-link nunito" id="books-link" href="/books">Books</a>
                </li>
                <li class="nav-item me-2 mt-1">
                  <a class="nav-link nunito btn px-3 btn-lg btn-black" href="https://x.com/FatTonysPodcast" aria-label="X">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1200 1227" fill="white">
                      <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"/>
                    </svg>
                  </a>
                </li>  
                <li class="nav-item me-2 mt-1">
                  <a class="nav-link nunito btn px-3 btn-lg btn-red" href="https://www.youtube.com/@fattonys" aria-label="YouTube">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
                  <path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"/>
                </svg>
                  </a>
                </li>                              
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <!-- content -->
      {% block content %}
      {% endblock %}

      <!-- Newsletter -->
      <svg width="100%" height="50" viewBox="0 0 500 80" preserveAspectRatio="none" class="mt-5 bkg-gloss-black">
        <path d="M0,0 L0,40 Q250,80 500,40 L500,0 Z" fill="#1f2833"/>
      </svg>
      <section id="newsletter">
        <div class="p-5 bkg-gloss-black">
          <div class="container">
            <div class="row">
                <div class="col-md-6">
              <div class="row">
                <h1 class="tilt-neon white">NEWSLETTER</h1>
              </div>
                <div class="row">
                  <h5 class="white py-3 nunito small-header pe-5">Get notified when new podcast episodes are released, plus access to exclusive Fat Tony's online events and meet ups.</h5>
              </div>
              </div>
                <div class="col-md-6">
                  <form class="form-horizontal" id="newsletterForm" onsubmit="emailForm(); return false">
                    <fieldset>
                      <div class="form-group">
                        <div class="input-group">
                          <input name="email" id="email" placeholder="Email" class="form-control py-3" type="email" required>
                        </div>
                      </div>
                    </fieldset>
                    <button type="button" onclick="sendNewsletterForm()" class="btn mt-4 py-3 btn-lg btn-purple w-100">Sign Up!</button>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </section>
      <svg width="100%" height="50" viewBox="0 0 500 80" preserveAspectRatio="none" class="mb-5 bkg-light-black">
        <path d="M0,0 L0,40 Q250,80 500,40 L500,0 Z" fill="#070707"/>
      </svg>

      <div class="modal fade" id="newsletterModal" name="newsletterModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content mt-5">
            <div class="modal-header text-center">
              <h3 class="modal-title lato w-100"><b>Thanks 💪</b></h3>
            </div>
            <div class="modal-body lato text-center">
              <h5>
                You're all signed up, and will recieve the next newsletter.
              </h5>
            </div>
            <div class="modal-footer">
              <button type="button" id="close" class="btn btn-purple w-100 p-3" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- footer -->
      <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-5 border-top">
          <p class="col-md-4 ps-2 mb-0">© Fat Tony's by <a class="footer-link" href="https://sebs.website">Sebastian Lees</a>. Website by <a class="footer-link" href="https://datablast.com">Datablast</a>.</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img class="footer-logo" src="/theme/img/logo-thumbnail.png" alt="Fat Tony's footer logo"/>
          </a>
      
          <ul class="nav col-md-4 ps-1 justify-content-end">
            <li class="footer-link"><a href="/about" id="about-link" class="footer-link px-2 me-1">About</a></li>
            <li class="footer-link"><a href="/contact" id="contact-link" class="footer-link px-2 me-3">Contact</a></li>
            <li class="footer-link">
              <a href="https://x.com/FatTonysPodcast" aria-label="Fat Tony's on X">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1200 1227" fill="white">
                  <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"/>
                </svg>
              </a>
            </li>
            <li class="ms-3 footer-link">
              <a href="https://youtube.com/@FatTonys" aria-label="Fat Tony's on YouTube">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
                  <path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"/>
                </svg>
              </a>
            </li>
            <li class="ms-3 footer-link">
              <a href="https://www.linkedin.com/company/fattonys"  aria-label="Fat Tony's on LinkedIn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
                  <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
                </svg>
              </a>
            </li>
          </ul>
        </footer>
      </div>
    </main>
  </body>
</html>
