<a href="/episodes/{{ podcast.slug }}" class="text-decoration-none">
    <div class="row zoom pointer rounded-3 mb-4 mx-1 px-3 podcast-bkg">
      <div class="col-md-7">
        <div>
          <span class="badge bg-dark mt-3 p-2">SEASON {{ podcast.season_number }}</span>
          <span class="badge bg-dark mt-3 p-2">EPISODE {{ podcast.episode_number }}</span>
          <span class="mt-5 p-2 black"><b>{{ podcast.date.strftime('%B %d, %Y') }}</b></span>
          <h1 class="mt-3 tilt-neon white">{{ podcast.title }}</h1>
          <p class="mt-3 mb-3 nunito small-header white lead">
            {{ podcast.description }}
          </h5>
        </div>
      </div>
      <div class="col-md-5" style="display: flex; justify-content: center;">
        <img src="/img/headshots/{{ podcast.thumbnail }}" class="podcast-card" style="align-self: flex-end;" alt="{{ podcast.title }}"/>
      </div>
    </div>
  </a>