<div class="podcast-bar">
  <div class="container">
    <div class="row text-center">
      <h2 class="my-4 tilt-neon white">SUBSCRIBE NOW ON YOUR FAVOURITE PLATFORM</h4>
    </div>
    <div class="row text-center">
        <div class="col-xl-3 col-md-6 col-12">
          <a href="https://podcasts.apple.com/us/podcast/fat-tonys-podcast/id1701282332">
            <img class="float-none my-3 zoom" src="/theme/badges/apple.svg" height="65px" alt="Fat Tony's on Apple Podcasts"/>
          </a>
        </div>
        <div class="col-xl-3 col-md-6 col-12">
          <a href="https://open.spotify.com/show/2bXu0jktTilaamBbnt8a84">
            <img class="float-none my-3 zoom" src="/theme/badges/spotify.svg" height="65px" alt="Fat Tony's on Spotify"/>
          </a>
        </div>
        <div class="col-xl-3 col-md-6 col-12">
          <a href="https://www.youtube.com/@FatTonys/podcasts">
            <img class="float-none my-3 zoom" src="/theme/badges/youtube.svg" height="65px" alt="Fat Tony's on Youtube"/>
          </a>
        </div>
        <div class="col-xl-3 col-md-6 col-12 mb-4">
          <a href="https://music.amazon.com/podcasts/d6a2d046-bab3-459b-a494-c45713320c2e/fat-tony's-podcast">
            <img class="float-none my-3 zoom" src="/theme/badges/amazonmusic.svg" height="65px" alt="Fat Tony's on Amazon Music"/>
          </a>
        </div>
    </div>
  </div>
</div>